/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "compass";

a {
  text-decoration:none !important;
}

.box_padding{
  padding: 10px;
}

.box_sidebar {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 2%     0%     0%     0% /     20%     0%     0%     0%;
}
.box_sidebar:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0px;
  left: 0px;
  width: 33%;
  height: 25%;
  box-shadow: -10px -10px 15px rgba(0,0,0,0.5);
  -webkit-transform: rotate(7deg) translate(20px,25px) skew(20deg);
  -moz-transform: rotate(7deg) translate(20px,25px) skew(20deg);
  -ms-transform: rotate(7deg) translate(20px,25px) skew(20deg);
  -o-transform: rotate(7deg) translate(20px,25px) skew(20deg);
  transform: rotate(7deg) translate(20px,25px) skew(20deg);
}


.box_main {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}
.box_main:before {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px / 100px;
  z-index: -1;
  top: 10%;
  bottom: 10%;
  content: "";
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}



.txt {
  text-shadow: #005580 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
}

legend:hover .txt {
  color: hsla(0,0%,0%,0);
  text-shadow: #005580 0 0 25px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

a.accordion-toggle:hover {
  padding-left: 25px;
  text-shadow: #005580 0 0 1px;
  transition:  padding-left .5s cubic-bezier(.26,.51,.44,2.92);
}
a.accordion-toggle {

  transition:  padding-left .5s cubic-bezier(.26,.51,.44,2.92);
}


input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea {
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label {
  margin-left: 10px;
  color: #999999;
}





